<?xml version="1.0" encoding="utf-8" ?>
<phpdox xmlns="http://xml.phpdox.net/config" silent="false">
    <bootstrap />
    <project name="sf2-skeleton" source="${basedir}/src" workdir="${basedir}/build/phpdox">
        <collector publiconly="false" backend="parser">
            <include mask="*.php" />
            <exclude mask="" />
            <inheritance resolve="true">
            </inheritance>
        </collector>
        <generator output="${basedir}/docs">
            <enrich base="${basedir}/build">
                <source type="build" />
                <source type="git">
                    <git binary="/usr/bin/git" />
                    <history enabled="true" limit="15" cache="${phpDox.project.workdir}/gitlog.xml" />
                </source>
                <source type="checkstyle">
                    <file name="logs/checkstyle.xml" />
                </source>
               <source type="pmd">
                    <file name="logs/pmd.xml" />
                </source>
                <source type="phploc">
                    <file name="logs/phploc.xml" />
                </source>
                <source type="phpunit">
                    <file name="coverage/index.xml" />
                </source>
            </enrich>
            <build engine="html" enabled="true" output="html">
                <template dir="${phpDox.home}/templates/html" />
                <file extension="xhtml" />
            </build>
        </generator>
    </project>
</phpdox>
